<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/board.css" />
  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{HOOKBOX_URL}}/static/hookbox.js"></script>
  <script type="text/javascript" src="/static/game.js"></script>
  <script type="text/javascript">
    {% if request.user.is_authenticted %}
    var username = "{{request.user.username}}";
    {% else %}
    var username = prompt("What is your name?");
    {% endif %}

    $(window).load(function() {
      $("tr:even td:even, tr:odd td:odd").css("background-color", "pink");
      $("tr:even td:odd, tr:odd td:even").css("background-color", "lightblue");
      $("form input").width($("#chat").width());
      var room = new GameRoom("{{room.get_absolute_url}}",
                              username, "{{room.pk}}",
                              "{{HOOKBOX_URL}}"
                              );
      room.load();
      window.gameroom = room;
    });

  </script>
</head>
<body>
  <table id="board" style="border: 1px solid black;">{% for row in rows %}
    <tr>{% for col in cols %}
      <td>
      </td>{% endfor %}
    </tr>{% endfor %}
  </table>
  <h3>Info</h3>
  <div id="info">
  </div>
  <h3>Chat</h3>
  <div id="chat" style="height: 4em; overflow-x: auto; overflow-y: scroll"><div></div>
  </div>
  <form onsubmit="gameroom.chat(this); return false;">
    <input type="text" />
  </form>
</body>
</html>
