<h1>Or create a new game room</h1>
<form method="POST">
  {% csrf_token %}
  <select name="gametype">
    <option value="tactics">Tactical RPG</option>
    <option value="checkers">Checkers</option>
    <option value="">Trivial Sample Game</option>
  </select>
  <input type="radio" name="players" value="cpu" checked="checked">Vs computer</input>
  <input type="radio" name="players" value="human">Two players</input>
  </input>
  <input type="submit" />
</form>
<h1>Choose a game room to join</h1>
<ul>
{% for room in rooms %}
<li>{{room.id}}: {{room.num_players}}</li>
{% endfor %}
</ul>

